################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/.vs
/bin/*
/obj/*
/clu.machinelearning.console/bin/*
/clu.machinelearning.console/obj/*
/clu.machinelearning.library/bin/*
/clu.machinelearning.library/obj/*
/clu.machinelearning.api/bin/*
/clu.machinelearning.api/obj/*
